.card {
  box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.36);
}

.card {
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;
}

.card.db-card > .card-body > .container {
	position: relative;
	z-index: 1;
}

.card.db-card > .card-body > i {
	font-size: 128px;
	position: relative;
	z-index: 0;
	bottom: 95px;
	left: -10px;
}

.card.db-card .container {
	padding: 10px;
}

.card.db-card.bg-blue i.fa {
	color: #3277B4;
}

.card.db-card.bg-dark i.fa {
	color: #2b2e33;
}

.card.db-card.bg-green i.fa {
	color: #17917F;
}

.card.db-card.bg-purple i.fa {
	color: #7B1FA2;
}

.card.db-card.bg-red i.fa {
	color: #D3332D;
}

.card .card-title {
	background-color: #F44336;
	color: #fff;
  position: relative;
  overflow: hidden;
}

.card.card-blue .card-title {
  background-color: #2196F3;
}

.card.card-indigo .card-title {
  background-color: #3F51B5;
}

.card.card-teal .card-header {
  background-color: #009688;
  color: #fff;
}

.card .card-title i.fa {
	margin-top: 10px;
	font-size: 50px;
}
.card .card-title.title-sm i.fa {
  font-size: 20px;
}
.card .card-image span.card-title {
  /*position: absolute;
  bottom: 0;
  left: 0;
  padding: 16px;*/
}
.card .card-content {
	background-color: #fafafa;
  padding: 16px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
}
.card .card-content ul {
	padding: 0;
}
.card .card-content ul li {
	list-style: none;
  margin: 12px 0;
}
.card .card-content ul li a,
.card .card-content ul li a:hover {
	text-decoration: none;
}
.card .card-content span.card-title {
  line-height: 48px;
}
.card .card-action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 16px;
}
.card .card-action a {
  color: #ffab40;
  margin-right: 16px;
  transition: color 0.3s ease;
  text-transform: uppercase;
}
.card .card-action a:hover {
  color: #ffd8a6;
  text-decoration: none;
}