body {
  margin: 0px;
  padding: 0px;
}


body.auth {
	background: #333;
}

.animate {
	-webkit-transition: all 0.05s ease-in;
	transition: all 0.05s ease-in;
}

.alt-heading {
	font-weight: 400;
	margin-bottom: 20px;
}

#app .navbar{
	padding: 0 8px 0 0;
	height: 50px;
	position: fixed;
	z-index: 5;
	width: 100%;
	margin-bottom: 0;
	border: 0;
	background-color: #23282e;
	border-radius: 0;
}

/*.app-container .panel {
	margin-top: 50px;
	margin-left: 20%;
}*/

.app-contents {
	background-color: #fafafa;
	position: fixed;
	left: 20%;
	top: 50px;
	width: 80%;
	float: left;
	height: 100%;
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.app-contents.full {
	width: 100%;
	left: 0;
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.app-contents.container {
	padding-top: 15px;
	padding-bottom: 15px;
}

.app-contents > .panel {
	height: calc(100% - 50px);
	overflow-y: hidden;
	margin: 0;
}
.app-contents .panel.auto-y {
	overflow-y: auto;
}

.app-contents .panel .panel-body.auto-y {
	overflow-y: auto;
}

.app-contents .panel .panel-body .pagination{
  margin: 8px 0;
}

.badge-blue {
	color: $fff;
	background-color: #2196F3;
}

.badge-danger {
	color: $fff;
	background-color: #bf5329;
}

.badge-indigo {
	color: #fff;
	background-color: #3F51B5;
}

.badge-primary {
	color: #fff;
	background-color: #337ab7;
}

.badge-teal {
	color: #fff;
	background-color: #009688;
}

.bg-blue {
	background-color: #418BCA;
	color: #fff;
}

.bg-darker {
	background-color: #1D2939;
	color: #fff;
}

.bg-dark {
	background-color: #363a40;
	color: #fff;
}

.bg-green {
	background-color: #1CB09A;
	color: #fff;
}

.bg-purple {
	background-color: #9C27B0;
	color: #fff;
}

.bg-red {
	background-color: #DA534F;
	color: #fff;
}



.bg-light-blue {
	background-color: #03A9F4;
	color: #fff;
}

button.btn,
a.btn {
	border-radius: 0;
}

.btn.btn-dark {
	background-color: #2e353d;
	color: #fff;
}

.btn.btn-darker {
	background-color: #23282e;
	color: #fff;
}

.btn.btn-teal,
.span-teal {
	background-color: #009688;
	color: #fff;
}

.btn.btn-siarsip,
.span-siarsip {
	background-color: #FF5722;
	color: #fff;
}

.caret.caret-up {
	content: "";
    border-top: 0;
    border-bottom: 4px dashed;
}

.caret.caret-down {
	content: "";
    border-bottom: 0;
    border-top: 4px dashed;
}

.col-md-12.row {
	margin: 0;
}

.table.middle-align td,
.table.middle-align th {
	vertical-align: middle;
}

.table-data {
	max-height: calc(100% - 51px); 
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.table-data	> .table > tbody > tr {
	height: 40px;
}

.table-data	> .table > tbody > tr.hovered {
	background-color: #B2DFDB;
}

.table-header {
	margin-bottom: 0;
}

.edit-form {
	padding: 20px;
}

#filter-panel {
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.24);
}
#filter-panel .row {
	padding: 5px 10px 5px 10px;
	margin: 0;
}
#filter-panel[aria-expanded="false"] + .panel-body .table-data {
	max-height: 481px;
}

#filter-panel[aria-expanded="true"] + .panel-body .table-data {
	max-height: 395px;
}

.filter-toggle.btn-primary:not(.collapsed) {
  color: #fff;
  border-color: #e4a633;
  background-color: #e4a633;
  -webkit-transition: all 0.35s, border-radius 0s;
	transition: all 0.35s, border-radius 0s;
}

.filter-toggle.btn-primary.collapsed {
  color: #fff;
  background-color: #2579a9;
  -webkit-transition: all 0.35s, border-radius 0s;
	transition: all 0.35s, border-radius 0s;
}

form button.btn,
form .input-group .input-group-addon,
form .input-group input.form-control {
	border-radius: 0;
}

.form-horizontal .form-group.row {
	margin-left: 0;
	margin-right: 0;
}

.link-blue {
	color: #2196F3;
}

.link-indigo {
	color: #3F51B5;
}

.link-teal {
	color: #009688;
}

.login-panel {
  width: 400px;
  margin: auto;
  margin-top: 8%;
  padding: 25px 10px;
  background-color: #fff;
}

.material-icons {
	font-size: 20px;
}
.navbar .brand {
  background-color: #23282e;
  line-height: 50px;
  display: inline-block;
  text-align: center;
  font-size: 14px;
}
.navbar .brand img {
	height: 45px;
}

.navbar.row {
	margin: 0;
}

.navbar-nav .dropdown a{
	color: #fff;
}

.navbar-nav > .dropdown > a:focus,
.navbar-nav > .dropdown > a:hover,
.nav .open > a, 
.nav .open > a:focus, 
.nav .open > a:hover{
	text-decoration: none;
    background-color: #1c1f23;
}

.navbar-nav .dropdown .dropdown-menu {
	max-height: 250px;
	opacity: 1;
	background-color: #1c1f23;
}

/* Sidebar Nav */

.nav-side-menu {
	position: fixed;
	top: 50px;
	overflow: auto;
	font-family: verdana;
	font-size: 12px;
	font-weight: 200;
	background-color: #2e353d;
	width: 20%;
	height: 100%;
	color: #e1ffff;
}

.nav-side-menu.hidden {
	left: -20%;
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.nav-side-menu.shown {
	left: 0;
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

/*.nav-side-menu.shown {
	width: 20%;
}*/

.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  /*    
	.collapsed{
	   .arrow:before{
				 font-family: FontAwesome;
				 content: "\f053";
				 display: inline-block;
				 padding-left:10px;
				 padding-right: 10px;
				 vertical-align: middle;
				 float:right;
			}
	 }
*/
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
	font-family: FontAwesome;
	content: "\f077";
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
	float: right;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.nav-side-menu li.collapsed .arrow:before {
	/*content: "\f078";*/
	-webkit-transform: rotate(180deg);
	transform: rotate(-180deg);
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  /*border-left: 3px solid #009688;*/
  background-color: #009688;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
	/*color: #d19b3d;*/
	background-color: #009688;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
  padding-left: 10px;
}
.nav-side-menu ul .sub-menu li:hover:not(.active),
.nav-side-menu li .sub-menu li:hover:not(.active) {
  background-color: #4f5b69;
}
.nav-side-menu li {
  padding-left: 0px;
  border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover:not(.active) {
  background-color: #4f5b69;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
	position: relative;
	width: 100%;
	margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
	display: block;
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 10 !important;
	padding: 3px;
	background-color: #ffffff;
	color: #000;
	width: 40px;
	text-align: center;
  }
  .brand {
	text-align: left !important;
	font-size: 22px;
	padding-left: 20px;
	line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
	display: block;
  }
}

/* End of Sidebar Nav */
.panel .panel-body .navbar-brand {
	float: none;
	margin-bottom: 20px;
	font-size: 20pt;
}

.panel-body .container {
	width: 100%;
}

.panel-default .panel-heading {
	color: #e64a19;
}

.panel .panel-heading h3,
.panel .panel-heading h4 {
	display: inline-block;
	margin: 5px 8px;
}

#pictures-slider {
  /*margin-top: 10px;
  margin-left: -15px;*/
  max-height: 250px;
}

#pictures-slider .carousel-inner .item img {
  width: 100%;
}

#pictures-slider .carousel-inner {
	max-height: 250px;
}

.act-btn {
	padding: 7px 0;
}

.search-form .form-group {
  width: 100%;
  float: right;
  height: 32px;
  background-color: #fafafa;
  border-radius: 25px;
  border: 1px solid #ccc;
  margin: 3px 0 0 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  transition: all 0.35s, border-radius 0s;
}
.search-form .form-group.open {
  background-color: #fff;
  border-color: #0180A0;
  
  -webkit-box-shadow: 0 0 5px #0180A0;
  -moz-box-shadow: 0 0 5px #0180A0;
  box-shadow: 0 0 5px #0180A0;
}

.search-form .form-group input.form-control {
  padding: 5px 20px 5px 30px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}

.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
  color: #999;
}

.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
  color: #999;
}

.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
  color: #999;
}

.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
  color: #999;
}

.search-form .form-group i.form-control-feedback {
  position: absolute;
  top: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #929292;
  left: 0;
  font-size: 16px;
}
.search-form .form-group.open i.form-control-feedback {
  color: #0180A0;
}

.siarsip-login-brand {
	padding: 8px 15px 24px 15px;
}

.siarsip-login-brand img {
	height: 36px;
}

#sidebar-toggle {
	border-color: #4e4e4e;
}

.table > thead.grey > tr {
	background-color: #868686;
	color: #fff;
}

.table > thead.teal > tr {
	background-color: #009688;
	color: #fff;
}

tr.top-parent td{
	font-weight: 600;
}

.tree {
  margin: 10px;
}
.tree ul {
  padding-left: 0;
}

.value-cards {
	margin-bottom: 15px;
}

.value-cards .card.db-card:hover {
	margin-top: -2px;
	box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.36);
	-webkit-transition: margin-top 0.5s ease-out;
	transition: margin-top 0.1s ease-out;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

table > thead > tr > th.text-middle,
table > tbody > tr > th.text-middle,
table > tbody > tr > td.text-middle {
	vertical-align: middle;
}